canvas{
    border: solid 3px black;
    background:white;
}
body{
    background-image: url("https://img.freepik.com/free-vector/watercolor-world-children-s-day-background_23-2149716451.jpg?w=2000");
    background-size: 100%;
}
h1{
    color:blue;
    font-size: 30px;
    font-family: Arial;
    background-color: white;
    width:60%;
    border:solid blue 3px;
    border-radius: 30px;
}

button{
    border-radius:30px;
    padding:25px;
    font-weight: 500;
    font-size: 20px;
}
input{
    border-radius:30px;
    padding:25px;
    font-weight: 500;
    font-size: 20px;
    width:12%;
}
#botao{
    background-color: lime;

}

#botaoLimpar{
    background-color: tomato;
}

img{
    position:absolute;
    bottom: 0px;
    right:0px;
    width:150px;
    height:150px;
}